In [5]:
### Hotel Recommendation system

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
hotels = pd.read_csv('Datas/output_0.csv', sep=",", encoding='latin-1')

In [8]:
hotels.head(2)

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968

In [9]:
hotels.shape

(50000, 17)

In [10]:
hotels.columns

Index(['Hotel_Address', 'Additional_Number_of_Scoring', 'Review_Date',
       'Average_Score', 'Hotel_Name', 'Reviewer_Nationality',
       'Negative_Review', 'Review_Total_Negative_Word_Counts',
       'Total_Number_of_Reviews', 'Positive_Review',
       'Review_Total_Positive_Word_Counts',
       'Total_Number_of_Reviews_Reviewer_Has_Given', 'Reviewer_Score', 'Tags',
       'days_since_review', 'lat', 'lng'],
      dtype='object')

In [11]:
hotels = hotels[['Hotel_Address', 'Additional_Number_of_Scoring', 'Review_Date', 'Average_Score', 'Hotel_Name', 'Reviewer_Nationality', 'Negative_Review', 'Review_Total_Negative_Word_Counts', 'Total_Number_of_Reviews', 'Positive_Review', 'Review_Total_Positive_Word_Counts', 'Total_Number_of_Reviews_Reviewer_Has_Given', 'Reviewer_Score', 'Tags', 'days_since_review']]

In [12]:
hotels.head(2)

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days

In [13]:
hotels.rename(columns={"Additional_Number_of_Scoring":"Scoring", "Total_Number_of_Reviews_Reviewer_Has_Given":"Total_Number_of_Reviews"}, inplace=True)

In [14]:
hotels.head(2)

,Hotel_Address,Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews,Reviewer_Score,Tags,days_since_review
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days

In [15]:
hotels['Reviewer_Nationality'].value_counts()

Reviewer_Nationality
United Kingdom               28131
United States of America      3361
Australia                     2144
Ireland                       1347
United Arab Emirates           825
                             ...
Guam                             1
Myanmar                          1
Madagascar                       1
Benin                            1
Saint Kitts and Nevis            1
Name: count, Length: 169, dtype: int64

In [16]:
hotels['Hotel_Name'].unique().shape

(141,)

In [17]:
x = hotels['Reviewer_Nationality'].value_counts()>100

In [18]:
x[x].shape

(49,)

In [19]:
y = x[x].index

In [20]:
y

Index([' United Kingdom ', ' United States of America ', ' Australia ',
       ' Ireland ', ' United Arab Emirates ', ' Canada ', ' Switzerland ',
       ' Saudi Arabia ', ' France ', ' Netherlands ', ' Germany ', ' Belgium ',
       ' Israel ', ' Italy ', ' Kuwait ', ' Hong Kong ', ' South Africa ',
       ' Turkey ', ' China ', ' Spain ', ' Sweden ', ' New Zealand ',
       ' Singapore ', ' India ', ' Norway ', ' Greece ', ' Qatar ',
       ' Malaysia ', ' Russia ', ' Poland ', ' Lebanon ', ' Denmark ',
       ' Thailand ', ' Austria ', ' Egypt ', ' Portugal ', ' Romania ',
       ' Bahrain ', ' Finland ', ' Brazil ', ' Nigeria ', ' Japan ',
       ' Indonesia ', ' Cyprus ', ' Oman ', ' Luxembourg ', ' Czech Republic ',
       ' Jersey ', ' Philippines '],
      dtype='object', name='Reviewer_Nationality')

In [21]:
newData = hotels[hotels['Reviewer_Nationality'].isin(y)]

In [22]:
newData.head(2)

,Hotel_Address,Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews,Reviewer_Score,Tags,days_since_review
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days

In [23]:
reviwers = pd.read_csv('Datas/reviwer.csv', sep=",", encoding='latin-1')

In [24]:
reviwers.head(2)

    Hotel_Name Reviwers_Name
0  Hotel Arena        Akshay
1  Hotel Arena        Akshay

In [25]:
hotels_with_reviwer = hotels.merge(reviwers, on="Hotel_Name")

In [26]:
hotels_with_reviwer.head(2)

,Hotel_Address,Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews,Reviewer_Score,Tags,days_since_review,Reviwers_Name
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,Akshay
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,Akshay

In [27]:
hotels_with_reviwer.shape

(654193, 16)

In [28]:
rate_hotel = hotels_with_reviwer.groupby('Hotel_Name')['Reviewer_Score'].count().reset_index()

In [29]:
rate_hotel

                                       Hotel_Name  Reviewer_Score
0                                        1K Hotel            2664
1                          Ambassadors Bloomsbury           12288
2                         Apex Temple Court Hotel           16592
3                                      Arbor City           14058
4                                   Ashburn Hotel            4541
5                                 Batty Langley s            5520
6         Best Western Mornington Hotel Hyde Park           14832
7   Best Western Premier Marais Grands Boulevards           10440
8                 Crowne Plaza London Kings Cross           24168
9                             Gardette Park Hotel            4296
10                  Grand Royale London Hyde Park          124236
11                               H tel De Vend me             979
12                              H tel Westminster            5008
13                         H tel des Ducs D Anjou            4968
14                        Hilton London Hyde Park           10360
15                                    Hotel Arena            5670
16                      Hotel Odeon Saint Germain            2839
17            Hotel Scribe Paris Opera by Sofitel             810
18                      Hotel Trianon Rive Gauche            6540
19              InterContinental London Park Lane            3200
20                               K K Hotel George            8490
21                             Kube Hotel Ice Bar             361
22                                        L H tel            1738
23                             La Villa Haussmann              41
24                        Lansbury Heritage Hotel             720
25          Le Dokhan s a Tribute Portfolio Hotel            1904
26                            Le Marceau Bastille            3300
27                            Le Relais Madeleine            1305
28              London Marriott Hotel Marble Arch            6720
29             London Marriott Hotel Regents Park           19552
30                                Marlin Waterloo            2940
31                                    Maxim Op ra             560
32                Mercure London Bloomsbury Hotel            4214
33                  Mercure Paris Porte d Orleans             100
34                     Milestone Hotel Kensington            1892
35                   Millennium Hotel Paris Opera            5250
36                            Monhotel Lounge SPA             595
37                        Novotel London Waterloo            9184
38                            Novotel London West           52603
39                Novotel Suites Paris Nord 18 me            5760
40                                    One Aldwych            4352
41                       Park International Hotel           16064
42                  Park Plaza County Hall London           77805
43                     Pullman Paris Centre Bercy            6496
44                 Radisson Blu Edwardian Grafton           21664
45                                   Select Hotel            7680
46                                Splendid Etoile            1524
47                             Staunton Hotel B B            1984
48             Staybridge Suites London Stratford           13230
49                 Terrass H tel Montmartre by MH            4020
50                                  The Athenaeum            5859
51                      The Bailey s Hotel London            3384
52                               The Bryson Hotel            1820
53                                The Chamberlain           10659
54               The Park Grand London Paddington           21240
55                           The Principal London           47025
56                              Waldorf Madeleine            8149

In [30]:
rate_hotel.head()

                Hotel_Name  Reviewer_Score
0                 1K Hotel            2664
1   Ambassadors Bloomsbury           12288
2  Apex Temple Court Hotel           16592
3               Arbor City           14058
4            Ashburn Hotel            4541

In [31]:
final = rate_hotel[rate_hotel['Reviewer_Score']>1000]

In [32]:
final.head()

                Hotel_Name  Reviewer_Score
0                 1K Hotel            2664
1   Ambassadors Bloomsbury           12288
2  Apex Temple Court Hotel           16592
3               Arbor City           14058
4            Ashburn Hotel            4541

In [33]:
final.sample()

                                      Hotel_Name  Reviewer_Score
7  Best Western Premier Marais Grands Boulevards           10440

In [34]:
final.drop_duplicates(['Hotel_Name','Reviewer_Score'], inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_10484\3234417093.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.drop_duplicates(['Hotel_Name','Reviewer_Score'], inplace=True)

In [36]:
final.shape

(49, 2)

In [37]:
hotel_pivot = hotels.pivot_table(columns='Reviewer_Nationality', index='Hotel_Name', values='Reviewer_Score')

In [38]:
hotel_pivot

Reviewer_Nationality,,Abkhazia Georgia,Albania,Algeria,Andorra,Angola,Antarctica,Antigua Barbuda,Argentina,Armenia,...,United Kingdom,United States Minor Outlying Islands,United States of America,Uruguay,Uzbekistan,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
Hotel_Name,,,,,,,,,,,,,,,,,,,,,
11 Cadogan Gardens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.742169,NaN,9.093750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1K Hotel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.159524,NaN,8.814286,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ace Hotel London Shoreditch,NaN,7.9,NaN,NaN,NaN,NaN,NaN,NaN,8.30,NaN,...,8.695324,8.8,8.903333,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ambassadors Bloomsbury,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.50,NaN,...,7.963309,NaN,7.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Amp re,7.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.634091,NaN,9.568750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
The Wellesley Knightsbridge a Luxury Collection Hotel London,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.344444,NaN,8.966667,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Thistle Kensington Gardens,NaN,NaN,NaN,NaN,NaN,8.8,NaN,NaN,8.30,NaN,...,8.418864,NaN,8.251220,NaN,NaN,NaN,NaN,NaN,NaN,NaN
W London Leicester Square,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.427273,8.8,8.420000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Waldorf Madeleine,8.55,7.5,NaN,NaN,NaN,NaN,NaN,NaN,8.55,NaN,...,8.694444,NaN,8.548000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Windsor Opera,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.700000,NaN,9.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
hotel_pivot.fillna(0, inplace=True)

In [40]:
hotel_pivot

Reviewer_Nationality,,Abkhazia Georgia,Albania,Algeria,Andorra,Angola,Antarctica,Antigua Barbuda,Argentina,Armenia,...,United Kingdom,United States Minor Outlying Islands,United States of America,Uruguay,Uzbekistan,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
Hotel_Name,,,,,,,,,,,,,,,,,,,,,
11 Cadogan Gardens,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,...,8.742169,0.0,9.093750,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1K Hotel,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,...,8.159524,0.0,8.814286,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ace Hotel London Shoreditch,0.00,7.9,0.0,0.0,0.0,0.0,0.0,0.0,8.30,0.0,...,8.695324,8.8,8.903333,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ambassadors Bloomsbury,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.50,0.0,...,7.963309,0.0,7.500000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Amp re,7.50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,...,8.634091,0.0,9.568750,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
The Wellesley Knightsbridge a Luxury Collection Hotel London,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,...,9.344444,0.0,8.966667,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Thistle Kensington Gardens,0.00,0.0,0.0,0.0,0.0,8.8,0.0,0.0,8.30,0.0,...,8.418864,0.0,8.251220,0.0,0.0,0.0,0.0,0.0,0.0,0.0
W London Leicester Square,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,...,8.427273,8.8,8.420000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Waldorf Madeleine,8.55,7.5,0.0,0.0,0.0,0.0,0.0,0.0,8.55,0.0,...,8.694444,0.0,8.548000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Windsor Opera,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,...,7.700000,0.0,9.666667,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
from scipy.sparse import csr_matrix

In [42]:
hotel_sparse = csr_matrix(hotel_pivot)

In [43]:
hotel_sparse

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 5602 stored elements and shape (141, 169)>

In [44]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm='brute')

In [45]:
model.fit(hotel_sparse)

NearestNeighbors(algorithm='brute')

In [46]:
distance, suggestion = model.kneighbors(hotel_pivot.iloc[1,:].values.reshape(1,-1),n_neighbors=6)

In [47]:
distance

array([[ 0.        , 37.58555778, 39.06016931, 40.15855221, 40.2573807 ,
        41.60046621]])

In [48]:
suggestion

array([[  1, 124,  58,  75, 122,  73]])

In [49]:
for i in range(len(suggestion)):
    print(hotel_pivot.index[suggestion[i]])

Index(['1K Hotel', 'The Cranley Hotel', 'Hotel Scribe Paris Opera by Sofitel',
       'Le Marceau Bastille', 'The Bryson Hotel',
       'Le Dokhan s a Tribute Portfolio Hotel'],
      dtype='object', name='Hotel_Name')

In [50]:
hotel_pivot.index

Index(['11 Cadogan Gardens', '1K Hotel', 'Ace Hotel London Shoreditch',
       'Ambassadors Bloomsbury', 'Amp re', 'Apex Temple Court Hotel',
       'Arbor City', 'Ashburn Hotel', 'Atala Champs Elys es',
       'Batty Langley s',
       ...
       'The Park Grand London Paddington',
       'The Park Tower Knightsbridge a Luxury Collection Hotel',
       'The Principal London', 'The Rembrandt', 'The Victoria',
       'The Wellesley Knightsbridge a Luxury Collection Hotel London',
       'Thistle Kensington Gardens', 'W London Leicester Square',
       'Waldorf Madeleine', 'Windsor Opera'],
      dtype='object', name='Hotel_Name', length=141)

In [51]:
hotels_name = hotel_pivot.index

In [52]:
import pickle
pickle.dump(model, open('artifacts/model.pkl','wb'))
pickle.dump(hotels_name, open('artifacts/hotels_name.pkl','wb'))
pickle.dump(final, open('artifacts/final.pkl','wb'))
pickle.dump(hotel_pivot, open('artifacts/hotel_pivot.pkl','wb'))

In [2]:
def recommend_hotel(hotel_name):
    hotel_id = np.where(hotel_pivot.index == hotel_name)[0][0]
    distance, suggestion = model.kneighbors(hotel_pivot.iloc[hotel_id,:].values.reshape(1,-1),n_neighbors=6)

    for i in range (len(suggestion)):
        hotels = hotel_pivot.index[suggestion[i]]
        for j in hotels:
            print(j)

In [3]:
hotel_name = 'Hotel Panache'
recommend_hotel(hotel_name)

NameError: name 'np' is not defined